*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}

ul li,
ol li {
  list-style: none;
}

body {
  padding: .5rem;
}

.border {
  margin: .5rem 0;
  padding: .5rem;
  border: 2px solid midnightblue;
}